<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 포토폴리오</title>
    <link href="{{url_for('static', filename='index.css')}}" rel = "stylesheet">
</head>
<body>
    <div class = 'container'>
        <h1>Hello🐳</h1>
        <p>AI 개발자를 꿈꾸는 공간</p>
        <img src="{{url_for('static', filename='image.webp')}}" alt ='프로필 이미지'>
        <p>
            <a href = 'http://127.0.0.1:5000/about'>소개&nbsp&nbsp/&nbsp&nbsp</a>
            <a href = 'http://127.0.0.1:5000/projects'>프로젝트&nbsp&nbsp/&nbsp&nbsp</a>
            <a href = 'https://github.com/hwangchahae'>github 바로가기&nbsp&nbsp/&nbsp&nbsp</a>
            <a href = 'http://127.0.0.1:5000/contact'>연락하기</a>
        </p> 
    </div>
</body>
</html>